body {
    /* display: flex;
    flex-direction: column; */
    background: url('https://wallpapershome.ru/images/pages/pic_h/6505.jpg');
    background-image: url('https://wallpapershome.ru/images/pages/pic_h/6505.jpg');
    /* background-position: center; */
    background-repeat: no-repeat;
    /* background-size: 100%; */
    /* background-attachment: fixed; */
}

h1 {
    color: #45883b;
}

h2 {
    color: #ffffff;
}

h4 {
    margin: 0;
    margin-top: 5px;
    color: #ffffff;
}

a {
    color: #56a74a;
}

.text {
    text-align: center;
    margin-top: 80px;
}

.footer {
    /* margin: 0; */
    margin-top: 9vh;
    text-align: center;
}

/* .cloud {
    width: 25%;
    height: 25%;
    position: relative;
} */

/* .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#player {
    width: 640px;
    height: 360px;
} 
