body {
    margin: 0;
    display: flex;
    /* background: url('https://wallpapershome.ru/images/pages/pic_h/6505.jpg') no-repeat center fixed;      */
    /* background-size: cover; */
    /* background-position: center;
    background-repeat: no-repeat; */
    text-align: center;
    /* overflow: hidden; */
    /* background-size: 100%; */
    /* background-attachment: fixed; */
}

.container {
    background: url('https://images7.alphacoders.com/101/thumb-1920-1014075.jpg') no-repeat center;   
    width: 100%;
}

h1 {
    color: #45883b;
}

h2 {
    color: #ffffff;
}

h4 {
    margin: 0;
    margin-top: 5px;
    color: #ffffff;
}

a {
    color: #56a74a;
}

.text {
    text-align: center;
    margin-top: 80px;
}

.footer {
    /* margin: 0; */
    margin-top: 10vh;
    text-align: center;
}

/* .cloud {
    width: 25%;
    height: 25%;
    position: relative;
} */

/* .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

/* #player {
    width: 640px;
    height: 360px;
}  */


.plyr {
    width: 640px;
    height: 360px;
}
